<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJS part 2</title>
    <style>
        .red {
            color: red;
        }
    </style>
</head>
<body>
    <div id="app">
        {{ message }}
        <br>
        Name: {{ name }}
        <br>
        Age: {{ age }}
        <br>
        Products: {{ products }}
        <br><br>
        Products: (displayed using v-for)
        <ul>
            <li v-for="product in products">
                {{ product }}
            </li>
        </ul>
        <br>
        Items: 
        <ul> 
            <li v-for="item in items">
                {{ item.name }}, Price: {{ item.price }}
            </li>
        </ul>

        <br>
        <button v-on:click="count++">Add 1</button>
        <button v-on:click="count--">Minus 1</button>
        <p>Count: {{ count }}</p>

        <h3 v-bind:class="textColor" v-if="count > 10">This title will appear if the count value is more than 10</h3>

        <button v-on:click="doAlert">Do Alert!</button>
        <button v-on:click="writeToConsole">Write to Console</button>

        <br>
        <h3>Chat Application</h3>
        <ul>
            <li v-for="message in messages"> 
                {{ message }}
            </li>
        </ul>
        <input v-model="newMessage" type="text">
        <button v-on:click="sendMessage">Send</button>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    newMessage: '',
                    messages: [],
                    textColor: 'red',
                    count: 0,
                    message: 'Hello Vue!', 
                    name: 'Andrew Pakpahan', 
                    age: 17, 
                    products: ['Macbook Pro', "Macbook Air", "Ipad Pro"],
                    items: [
                        { name: 'iPhone 17', price: 77 },
                        { name: 'Samsung 27', price: 100}, 
                        { name: 'Xiaomi 77 Pro', price: 200}
                    ]
                }
            },
            methods: {
                doAlert() {
                    alert('Hi from Vue')
                },
                writeToConsole() {
                    console.log('This is written from VueJS method')
                },
                sendMessage() {
                    this.messages.push(this.newMessage)
                    this.newMessage = ''
                }
                // Add three more methods/functions and call it
            }
        }).mount('#app')
    </script>
</body>
</html>